<div class="about" id="about">
    <div>
        <h2>About Us</h2>
        <p>GUARDIANS Brotherhood Inc. - Angeles City was organized to encourage patriotic
            Filipinos to join and link arms with the GUARDIANS to foster brotherhood and sisterhood among members along
            with
            their families. It is not a gang of mobsters but a group of
            well-meaning men and women with Filipino ancestry who would like to reconnect to their motherland through
            “PATRIOTISM” and let everybody know that they are proud to be PINOY!</p>
        <p>With their Filipino spirit in high-gear
            mode, the members would like to rally Filipino expatriates all over the
            world to revitalize their link with the motherland - the Philippines - and to keep the patriotic fervor ever
            burning in their hearts!</p>
    </div>
    {% include "home/lumad.html"%}
    {% include "home/songprayer.html" %}
    {% include "home/panatahymn.html" %}
    {% include "home/invocationmotto.html" %}
    {% include "home/doctrines.html"%}
    {% include "home/logo.html"%}
    {% include "home/acronym.html"%}
    {% include "home/tattoo.html"%}
    {% include "home/magic.html"%}
    {% include "home/statements.html"%}
    {% include "home/history.html"%}
</div>