<div class="acronym">
    <div>
        <div class="left">
            <h2>G</h2>
            <h2>U</h2>
            <h2>A</h2>
            <h2>R</h2>
            <h2>D</h2>
            <h2>I</h2>
            <h2>A</h2>
            <h2>N</h2>
            <h2>S</h2>
        </div>
        <div class="right">
            <h3>Gentleman</h3>
            <span>A man with good manners</span>
            <h3>Maginoo</h3>
            <h3>United</h3>
            <span>Made one</span>
            <h3>Nagkakaisa</h3>
            <h3>Associates</h3>
            <span>Colleagues or Companions</span>
            <h3>Katuwang</h3>
            <h3>Race</h3>
            <span>A class or kind of people united by Common interests or characteristics</span>
            <h3>Lahi</h3>
            <h3>Dauntless</h3>
            <span>Fearless</span>
            <h3>Matatapang</h3>
            <h3>Ingenious</h3>
            <span>Very smart or clever</span>
            <h3>Matatalinong</h3>
            <h3>Advocator</h3>
            <span>Supporter of a cause or policy</span>
            <h3>Tagapagtanggol</h3>
            <h3>Nation</h3>
            <span>A community of people</span>
            <h3>Bansa</h3>
            <h3>Society</h3>
            <span>A system within which the individual lives</span>
            <h3>Lipunan</h3>
        </div>
    </div>
</div>