<div class="acronyms">
    <div>
        <div class="left">
            <h2>G</h2>
            <h2>U</h2>
            <h2>A</h2>
            <h2>R</h2>
            <h2>D</h2>
            <h2>I</h2>
            <h2>A</h2>
            <h2>N</h2>
            <h2>S</h2>
        </div>
        <div class="right">
            <h3>Gentleman</h3>
            <h3>United</h3>
            <h3>Associates</h3>
            <h3>Race</h3>
            <h3>Dauntless</h3>
            <h3>Ingenious</h3>
            <h3>Advocator</h3>
            <h3>Nation</h3>
            <h3>Society</h3>
        </div>
    </div>
    <div>
        <div class="left">
            <h2>M</h2>
            <h2>A</h2>
            <h2>G</h2>
            <h2>I</h2>
            <h2>C</h2>
        </div>
        <div class="right">
            <h3>Magistrate</h3>
            <h3>Adjucator</h3>
            <h3>Grievances</h3>
            <h3>Incapable</h3>
            <h3>Citizens</h3>
        </div>
    </div>
</div>