{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}} | GBI</title>
    {% else %}
    <title>GBI</title>
    {% endif %}
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/stylesheet/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/stylesheet/media.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/stylesheet/main.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="nav-overlay">
        <div class="overlay-left">
            <span class="nav-overlay-event">EVENTS</span>
            <span class="nav-overlay-chapter">CHAPTERS</span>
            <span class="nav-overlay-gallery">GALLERY</span>
            <span class="nav-overlay-about">ABOUT</span>
            <span class="nav-overlay-form">FORMS</span>
        </div>
    </div>
    <nav>
        <div class="nav-title">
            <span><a href="{% url 'home' %}">GBI</a></span>
        </div>
        <div class="outer inactive">
            <span class="nav-chapter">Chapters</span>
        </div>
        <div class="outer inactive">
            <span class="nav-gallery">Gallery</span>
        </div>
        <div class="outer inactive">
            <span class="nav-about">About</span>
        </div>
        <div class="outer inactive">
            <span class="nav-form">Forms</span>
        </div>
        <div class="burger">
            <span class="line-1"></span>
            <span class="line-2"></span>
        </div>
    </nav>
    <div class="forms-overlay">
        <div class="forms-container">
            <div class="button-container">
                <div class="dropdown">
                    <div class="display">
                        <p>GBI Officers</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="items">
                        <p>GBI Officers</p>
                        <p>General Information Sheet - Page 1</p>
                        <p>General Information Sheet - Page 2</p>
                        <p>General Information Sheet - Page 3</p>
                        <p>General Information Sheet - Page 4</p>
                        <p>General Information Sheet - Page 5</p>
                        <p>General Information Sheet - Page 6</p>
                        <p>Official Receipt</p>
                        <p>Securities and Exchange Commission</p>
                        <p>IPO Intellectual Property Office</p>
                        <p>GBI Official Seal</p>
                        <p>GBI 2019 New Amended By Laws</p>
                        <p>Issuance of ID</p>
                        <p>GBI Proper ID</p>
                        <p>Panunumpa sa Katapatan</p>
                        <p>Panunumpa sa Katungkulan</p>
                        <p>GBI Investiture Response</p>
                    </div>
                </div>
                <div class="button">
                    <span>Download</span>
                    <i class="fas fa-download"></i>
                </div>
                <i class="fas fa-times"></i>
            </div>
            <div class="reader">
                <img class="form" src="/static/home/images/forms/gis-officers.jpg">
            </div>
        </div>
    </div>
    <main>
        {% block index %}
        {% endblock %}
    </main>
    <footer>
        <div class="logos">
            <img src="{%static 'home/images/angeles_logo.png'%}" alt="angeles city logo">
            <img src="{%static 'home/images/guardians_logo.png'%}" alt="GBI logo">
        </div>
        <div class="title">
            <h2>Guardians Brotherhood Inc.</h2>
            <h4>Angeles City</h4>
            <span>Forms</span>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="{% static 'home/javascript/main.js' %}"></script>

</html>