<div class="doctrines">
    <div class="reader">
        <div class="first">
            <h2>THE &nbsp;TEN GBI DOCTRINAL TEACHINGS</h2>
        </div>
        <div class="second">
            <h3>PARENTHOOD OF GOD</h3>
            <p>THAT ALL MEN CAME FROM ONE GOD. ALL HAVE COMMON NATURE AND COMMON DESTINY, OWING EERYTHNG FROM HIM WHO IS
                THE MOST MERCIFUL, MOST GRACIOUS AND MOST LOVING OF ALL MANKIND. AS THE LIFE AND LAW-GIVER, GOD IS THE
                MASTER FOUNDER OF ALL BROTHERHOOD ON EARTH.</p>
        </div>
        <div class="third">
            <h3>BROTHERHOOD OF MEN</h3>
            <p>THAT ALL MEN ARE BROTHERS. NO RACIAL DISCRIMINATIONS. ALL BELONG TO THE FAMILY OF MEN, PRE-DESTINED TO
                LIVE TOGETHER IN HARMONY AS ONE BIG HAPPY FAMILY ON EARTH.</p>
        </div>
        <div class="fourth">
            <h3>LOVE AND RESPECT FOR BROTHERS</h3>
            <p>LOVING IS THE CARDINAL RULE AND RESPECTING THE DIGNITY OF YOUR BROTHERS AS MAN, REGARDLESS OF SOCIAL
                STATUS IN LIFE IS A MORAL OBLIGATION AND FRATERNAL RESPONSIBILITY.</p>
        </div>
        <div class="fifth">
            <h3>HUMILITY AND MEEKNESS</h3>
            <p>BE HUMBLE. FROM DUST YOU CAME AND TO DUST YOU WILL RETURN, KEEP THIS AS A LIVING AND VIBRANT MAXIM IN THE
                CULTURE OF OUR BROTHERHOOD. THIS IS OUR TRADEMARK, THE REAL POSSESSION IN THE CHANGING FORTUNES OF
                TIMES.</p>
        </div>
        <div class="sixth">
            <h3>SERVANTHOOD</h3>
            <p>SERVICE TO GOD, SERVING OUR COUNTRY, BROTHERS AND HUMANITY AS A WHOLE IN THE SPIRIT OF VOLUNTEERISM
                WITHOUT EXPECTING ANY RETURN,</p>
        </div>
        <div class="sevent">
            <h3>RESPECT OF DULY CONSTITUTED GOVERNMENT</h3>
            <p>THE AUTHORITY OF THE GOVERNMENT EMANATES FROM THE PEOPLE THE VOICE OF THE PEOPLE IS THE VOICE OF GOD.</p>
        </div>
        <div class="eight">
            <h3>ACTS OF CHARITY</h3>
            <p>IT IS ONLY BY GIVING THAT WE RECEIVE. GIVE WHAT IS DUE TO OUR BROTHERS, TO OUR ORGANIZATION, TO OUR
                COUNTRY AND TO OUR GOD.</p>
        </div>
        <div class="ninth">
            <h3>ACTIVE AND PEACEFUL RESISTANCE AGAINST A CORRUPT AND TYRANNICAL GOVERNMENT</h3>
            <p>BEARING OUT THE INVIOLABLE AND UNALIENABLE RIGHTS OF AN INDIVIDUAL CLOTHED BY GOD AND EXERCISING THE
                RIGHT TO SELF-DEFENSE.</p>
        </div>
        <div class="tenth">
            <h3>EQUALITY OF MEN</h3>
            <p>THAT ALL MEN ARE CREATED EQUAL THIS GOD GIVEN RIGHT MUST BE RESPECTED REGARDLESS OF HIS SOCIAL STATUS.
                MEN ARE NOT PROPERTIES OF THE STATE BUT UNDER THE THRESHOLD OF GOD, THE STRONG MUST NOT ENSLAVE THE
                WEAK, EQUAL PROTECTION OF THE LAW AND DUE PROCESS MUST BE FOLLOWED.</p>
        </div>
        <div class="eleventh">
            <h3>PEACE MAKING</h3>
            <p>PEACEMAKERS ARE THE SONS OF GOD. THAT A BROTHER MUST THINK, SPEAK AND ACT MOREOVER LEARN HOW TO PRACTICE
                THE REAL BROTHERHOOD, IN THIS RESPECT ATTAIN INNER TRANQUILITY AND FINALLY WORLD PEACE.</p>
        </div>
    </div>
</div>