{% load static %}
<div class="gallery" id="gallery">
    <div class="display">
        <div class="col">
            <img src="{% static 'home\images\gallery\1.jpg'%}">
            <img src="{% static 'home\images\gallery\3.jpg'%}">
            <img src="{% static 'home\images\gallery\5.jpg'%}">
            <img src="{% static 'home\images\gallery\7.jpg'%}">
        </div>
        <div class="col">
            <img src="{% static 'home\images\gallery\2.jpg'%}">
            <img src="{% static 'home\images\gallery\4.jpg'%}">
            <img src="{% static 'home\images\gallery\6.jpg'%}">
        </div>
    </div>
</div>