{% load static %}
<div class="gallery" id="gallery">
    <div class="display">
        {{images|json_script:"images"}}
        <div class="col">
            <img src="{% static 'home/images/gallery/1.jpg'%}" alt="">
            <img src="{% static 'home/images/gallery/2.jpg'%}" alt="">
        </div>
        <div class="col">
            <img src="{% static 'home/images/gallery/3.jpg'%}" alt="">
            <img src="{% static 'home/images/gallery/4.jpg'%}" alt="">
        </div>
    </div>
</div>