<div class="invocationmotto">
    <div>
        <div class="motto">
            <p>We cannot be separated in interest or divided in purpose. We
                stand together until the end.

                Di mapaghihiwalay ng makasariling kapakanan o hatiin ng
                Mapag-imbot na layunin. Tayo’y sama-samang maninindigan
                Hanggang sa huling patak ng dugo ng mga GUARDIANS.
            </p>
        </div>
        <div class="invocation">
            <p>Lord give us the courage to do and
                practice the value of real Brotherhood and
                honesty, and also be able to give dignity
                and honor to our organization; also

                Lord help us to bind ourselves with
                a helping hand as one big family,
                Together to do the Challenge of an old
                GUARDIANS task, moving on attuned
                to the new GBI generations in society
                reformation, for the benefit of among us all
                particularly the young and our society; and

                Finally, help us Lord to be an agent
                of real and prosperous change
                so we can do wonders for our country
                and people, then leave a lasting legacy,
                we ask these to our Almighty FATHER...
            </p>
        </div>
    </div>
</div>