{% load static %}
<div class="logo" id="logo">
    <img class="gbi" src="{% static 'home/images/guardians_logo.png' %}" alt="guardians brotherhood inc. logo">
    <div class="description">
        <p>The <span>three stars</span> represent the three main islands of the Philippines, namely: Luzon, Visayas, and Mindanao.
        </p>
        <p>The <span>sword</span> symbolizes power, might, and honor.</p>
        <p>The <span>scale of justice</span> represents just and uprightness.</p>
        <p>The <span>interlocking hands</span> symbolize intimacy among members.</p>
        <p>The <span>laurel wreath</span> represent the different places where members are residing.</p>
        <p><span>GBI</span> acronym of the title of the organization. </p>
        <p>The <span>golden yellow</span> color represents the sun shining the noble aims and purposes of the organization.</p>
        <p>The <span>red and blue</span> colors represent the Philippine flag signifying nationalism.</p>
        <p>Inside the circle are the six (6) guiding principles of <span>brotherhood</span>, <span>equality</span>, <span>justice</span>, <span>peace</span>, <span>service</span>, and
            <span>discipline</span>, underlying the tenets and ideals of GUARDIANS Brotherhood Inc.</p>
        <p>The year it was founded is shown underneath with the words THE ORIGINAL GUARDIANS BROTHERHOOD INCORPORATED.
        </p>
    </div>
</div>