<div class="lumad">
    <nav class="nav-first">
        <div class="left inactive">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="right active">
            <i class="fas fa-chevron-right"></i>
        </div>
    </nav>
    <div class="reader">
        <div class="page-1">
            <h2>Ang Lumad Nga Bisaya</h2>
        </div>
        <div class="page-2">
            <p>The GBI National Triumvirate in 2002 when late Col Billy "NF SIERRA" Bibit was the National President
                were, National Supreme Godfather Commander (NSGC) Anastacio "Patton" Labitad Jr (left) , National
                Supreme Godfather Consultant Gil "Lapulapu" Taojo (center) and National Supreme Godmother Lilia "Amasona
                Buala. In this picture, Suprema Amasona was represented by P/Lt "NF Phantom" Tinoy.</p>
        </div>
        <div class="page-3">
            <p>In fairness, In 1984, The then Msgt. Leborio "MF Abraham" was not part or has any participation in the
                creation of the Guardians Brotherhood Inc. During this period, MF Abraham was tasked by the then Chief
                of Staff Fidel V Ramos for normalizing the disbandment of the Diablo Squad Crime Buster (DSCB).</p>
        </div>
        <div class="page-4">
            <p>Who then led the Guardians upon its conception in Dec 10, 1984? To correct the history, It was late Capt
                Anastacio "NF Patton" Labitad Jr, the National Supreme Godfather Commander of the Diablo Squad Crime
                Buster (DSCB). The documents submitted to SEC for its registration will speak for itself.</p>
        </div>
        <div class="page-5">
            <p>When the DSCB was tagged as "THE ARMY WITHIN THE ARMY" in 1984, he was already leading the Diablo Squads,
                he was investigated by the NBI, persecuted by the Army Intelligence, his salary was forfeited for many
                months, his ETAD was not extended. He was floating for almost two (2) no assignment. He was treated like
                an ordinary Enlisted man. He suffered too much for the DSCB and GBI. This humble man did not complain
                never proclaim himself as the Leader. But for one (1) week he was the banner headlines of Malaya, Daily
                Inquirer, Manila Bulletin, local tabloids and Television, as the leader of the Army within the Army.</p>
        </div>
        <div class="page-6">
            <p>For the young generations, you must know this man. From 1982 to 1984, the DSCB was crucified by the
                Marcos Dictatorship as a political scapegoat for the divided Armed Forces, the Ramos-Enrile and
                Marcos-Ver Faction. This was the Year of the Heavy Persecution, many were discharge from the Service, de
                - commissioned from the Officer Corps, Non-ETE, Non ETAD and forced erasures of tattoo by blade, battery
                solutions and cigarette burning and while many were eliminated in the battlefield as non battle casualty
                from the orders of their Division/Battalion “Intel” Officers and Commanders, to name few Gen Echevarria,
                Gen Divinagracia and many others.</p>
        </div>
        <div class="page-7">
            <p>Of course, It was Supremo Patton was our National Leader during this hard and unforgettable years. It was
                also this year, that the then, Capt Gil "SGF Lapulapu" Taojo was de-commissioned from the Officer Corps
                of the PC-INP. He did not renounced his membership of the DSCB-GBI. While Supremo Patton was branded as
                Old Captain of the Philippine Army, his promotion to Major was by passed for many years and was not
                promoted to Major for 15 years until he retired. and P/Major Lilia "Amasona" Buala retired from the
                PC-INP and did not received her pension, the prize of their leadership of the DSCB-GBI. The prize of
                their leadership of the DSCB-GBI.</p>
        </div>
        <div class="page-8">
            <p>MSG Leborio "MF ABRAHAM" Jangao Jr abandoned already the ideals of the DSCB-GBI. He was the luckiest guy
                during the year of persecution. He was Commissioned to the Officer Corps of the PC-INP for his
                treacherous accomplishment of normalizing the disbandment of his DSCB in 1984. The Master Founder of the
                Diablo Squad Crime Buster and the one who lead its disbandment s directed by Gen Fidel Ramos.(what a
                traitor! ! !) And that is why Mf Abraham has no name in the creation of the GBI that followed after its
                disbandment. </p>
        </div>
        <div class="page-9">
            <p>I In 1987, He brought again the GHQ Letter Directive signed by Chief Fidel V. Ramos disbanding the GBI to
                all the Military Camp Chapters nationwide asking the reigning subordinates Founders to follow the Chain
                of Command, simply because this was the year of Coup de'Etat and we are advise with stern warning to
                abandon the ideals of the GBI Brotherhood. This offers him (Mf Abraham) another opportunity, his
                promotion to next higher grade equivalent to 1LT.</p>
        </div>
        <div class="page-10">
            <p>And now, Why in God sake, he claimed, He was the Father of All Guardians? My God, Late Supremo Patton was
                three years already in his grave asking JUSTICE.
                "The meek and the humble will inherit the Guardians." - Supremo Patton.</p>
        </div>
    </div>
    <span class="page-number"><sup class="min-page">01</sup>&frasl;<sub class="max-page">10</sub></span>
</div>