<div class="magic">
    <div class="left">
        <h2>M</h2>
        <h2>A</h2>
        <h2>G</h2>
        <h2>I</h2>
        <h2>C</h2>
    </div>
    <div class="middle">
        <h3>Magistrate</h3>
        <h3>Adjucator</h3>
        <h3>Grievances</h3>
        <h3>Incapable</h3>
        <h3>Citizens</h3>
    </div>
    <div class="right">
        <p>Magistrate Advocators of Grievances & Incapable Citizens</p>
        <p>Mga Mahistradong Tagapagtanggol ng mga Inaapi at Mahihinang Mamayan</p>
    </div>
</div>