<div class="panatahymn">
    <div>
        <div class="panata">
            <p>Hanggang kamatayan,
                Hanggang sa libingan,
                Hanggang sa huling patak ng dugo,
                Ng mga GUARDIANS

                Mithiin ng bayan,
                Aming ipaglalaban,
                Hanggang kamatayan,
                Hanggang sa libingan.

                Pangkat ng mga GUARDIANS,
                Lalaban di patatalo,
                Layunin ng lipunan,
                Ipaglalaban ng mga GUARDIANS [Repeat 2x]
            </p>
        </div>
        <div class="hymn">
            <p>National Solidarity,
                National Consciousness,
                National Participation,
                Guardians unite us all,

                We shall not, we shall not be moved,
                We shall not, we shall not be moved,
                The Guardians group is the guard and guide,
                Of our race and flag.

                People is behind us,
                We shall not be moved,
                People is behind us,
                We shall not be moved,
                The Guardians group is the guard and guide,
                Of our race and flag.
            </p>
        </div>
    </div>
</div>