<div class="statements" id="statements">
    <div class="mission">
        <h2 class="title">Mission</h2>
        <p class="statement">GBI - Angeles City is a fraternity of men and women who are committed to the tenets
            of self
            development, brotherhood, and charity for the betterment of society and its people of various color,
            persuasion, and creed.</p>
    </div>
    <div class="vision">
        <h2 class="title">Vision</h2>
        <p class="statement">To be the leading fraternal organization composed of well-disciplined members,
            promoting nationalism and
            patriotism. It shall strive that in due course it shall be a great partner for nation building and progress
            of
            the government.</p>
    </div>
</div>