{% load static %}
<div class="tattoo">
    <div class="grid">
        <div class="mrhc">
            <h2>Marking on the Right Hand (Civilians)</h2>
            <div>
                <div>
                    <h3 style="color: #98ff98">MG</h3>
                    <p>Mint Green</p>
                </div>
                <p>Magic Group</p>
            </div>
        </div>
        <div class="pmc">
            <h2>Promotional Marking (Civilians)</h2>
            <div>
                <div>
                    <h3>RMG</h3>
                </div>
                <p>Ranking Magic Group</p>
            </div>
        </div>
        <div class="mra">
            <h2>Marking on the Right Arm</h2>
            <div>
                <img src="{% static 'home/images/tattoo.svg' %}" alt="Guardian Right Arm Marking">
            </div>
        </div>
        <div class="mrh">
            <h2>Marking on the Right Hand (AFP)</h2>
            <div>
                <div>
                    <h3 style="color: red">R</h3>
                    <p>Red</p>
                </div>
                <p>PNP & Former PC</p>
            </div>
            <div>
                <div>
                    <h3 style="color: blue">B</h3>
                    <p>Blue</p>
                </div>
                <p>Philippine Army</p>
            </div>
            <div>
                <div>
                    <h3>W</h3>
                    <p>White</p>
                </div>
                <p>Philippine Navy/Marines</p>
            </div>
            <div>
                <div>
                    <h3 style="color: violet">V</h3>
                    <p>Violet</p>
                </div>
                <p>Philippine Air Force</p>
            </div>
            <div>
                <div>
                    <h3 style="color: #FFFDD0">C</h3>
                    <p>Cream</p>
                </div>
                <p>Philippine Coast Guard</p>
            </div>
            <div>
                <div>
                    <h3 style="color: gold">G</h3>
                    <p>Gold</p>
                </div>
                <p>BFP</p>
            </div>
            <div>
                <div>
                    <h3 style="color: maroon">M</h3>
                    <p>Maroon</p>
                </div>
                <p>BJMP</p>
            </div>
        </div>
        <div class="pm">
            <h2>Promotional Marking</h2>
            <div>
                <div>
                    <h3>GF</h3>
                </div>
                <p>Godfather</p>
            </div>
            <div>
                <div>
                    <h3>SGF</h3>
                </div>
                <p>Supreme Godfather</p>
            </div>
        </div>
        <div class="mam">
            <h2>Marking For All Members</h2>
            <div>
                <div>
                    <h3>F</h3>
                </div>
                <p>Founder</p>
            </div>
            <div>
                <div>
                    <h3>NF</h3>
                </div>
                <p>National Founder</p>
            </div>
            <div>
                <div>
                    <h3>MF</h3>
                </div>
                <p>Master Founder</p>
            </div>
        </div>
        <div class="mlh">
            <h2>Marking on the Left Hand</h2>
            <div>
                <div>
                    <h3>GL</h3>
                </div>
                <p>GUARDIANS Luzon</p>
            </div>
            <div>
                <div>
                    <h3>GV</h3>
                </div>
                <p>GUARDIANS Visayas</p>
            </div>
            <div>
                <div>
                    <h3>GM</h3>
                </div>
                <p>GUARDIANS Mindanao</p>
            </div>
        </div>
    </div>
</div>